$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1220px;

$font-primary: "Barlow Condensed", "Arial", "Tahoma", sans-serif;
$font-secondary: "Bellefair", "Georgia", "Sylfaen", serif;
$font-similar: "Barlow", "Arial", "Tahoma", sans-serif;
