@use "styles/helpers.scss" as *;

.home-page {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}

@include media-tablet {
  .home-page {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

@include media-desktop {
  .home-page {
    background-image: url("../../assets/home/background-home-desktop.jpg");
    background-position: 100% 0;
  }
}

.home-page__content {
  display: flex;
  flex-direction: column;

  width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  padding-right: 24px;
  padding-bottom: 48px;
  padding-left: 24px;

  text-align: center;
}

.home-page__title {
  margin: 0;
  margin-bottom: 16px;

  letter-spacing: 2.7px;
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.home-page__big-title {
  display: block;

  margin-top: 16px;

  color: #ffffff;

  font-family: $font-secondary;
  font-size: 80px;
  line-height: 100px;
}

.home-page__desc {
  margin: 0;
  margin-bottom: 50px;
  margin-bottom: 81px;

  font-family: $font-similar;
  font-size: 15px;
  line-height: 25px;
}

.home-page__explore-btn {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  width: 150px;
  height: 150px;
  margin-top: auto;

  transition: box-shadow 300ms;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #0b0d17;
  border-radius: 50%;
  background-color: #fff;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 23px;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 88px rgba(#ffffff, 0.1);

    mix-blend-mode: normal;
  }
}

@include media-tablet {
  .home-page__content {
    width: 768px;
    padding-top: 106px;
    padding-right: 159px;
    padding-bottom: 90px;
    padding-left: 159px;
  }

  .home-page__title {
    margin-bottom: 24px;

    letter-spacing: 3.375px;

    font-size: 20px;
    line-height: 24px;
  }

  .home-page__big-title {
    margin-top: 24px;

    font-size: 150px;
    line-height: 150px;
  }

  .home-page__desc {
    margin-bottom: 156px;

    font-size: 16px;
    line-height: 28px;
  }

  .home-page__explore-btn {
    width: 242px;
    height: 242px;

    letter-spacing: 2px;

    font-size: 32px;
    line-height: 37px;
  }
}

@include media-desktop {
  .home-page__content {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
    max-width: 1440px;
    padding-top: 251px;
    padding-right: 165px;
    padding-bottom: 131px;
    padding-left: 165px;

    text-align: left;
  }

  .home-page__wrapper {
    width: 450px;
  }

  .home-page__title {
    letter-spacing: 4.725px;

    font-size: 28px;
    line-height: 34px;
  }

  .home-page__big-title {
    font-size: 150px;
    line-height: 172px;
  }

  .home-page__desc {
    margin: 0;

    font-size: 18px;
    line-height: 32px;
  }

  .home-page__explore-btn {
    width: 274px;
    height: 274px;
  }
}
